# Front

front/.DS_Store
front/.thumbs.db
front/node_modules

# Quasar core related directories
front/.quasar
front/dist
front/quasar.config.*.temporary.compiled*

# Cordova related directories and files
front/src-cordova/node_modules
front/src-cordova/platforms
front/src-cordova/plugins
front/src-cordova/www

# Capacitor related directories and files
front//src-capacitor/www
front//src-capacitor/node_modules
front/# Log files
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

# Editor directories and files
front/.idea
front/*.suo
       front/*.ntvs*
       front/*.njsproj
       front/*.sln
       front/# local .env files
       front/.env.local*

# -------------------------------------------------------------- #Back ------------------------------------------------------

# compiled output
#
back/dist
back/node_modules
back/build

# Logs
back/logs
back/*.log
back/npm-debug.log*
back/pnpm-debug.log*
back/yarn-debug.log*
back/yarn-error.log*
back/lerna-debug.log*

back/# OS
back/.DS_Store

# Tests
back/coverage
back/.nyc_output

# IDEs and editors
back/.idea
back/.project
back/.classpath
back/.c9/
back/*.launch
back/.settings/
back/*.sublime-workspace

# IDE - VSCode
back/.vscode/*
back/!.vscode/settings.json
back/!.vscode/tasks.json
back/!.vscode/launch.json
back/!.vscode/extensions.json

# dotenv environment variable files
back/.env
back/.env.development.local
back/.env.production.local
back/.env.local

# temp directory
back/.temp
back/.tmp

# Runtime data
back/pids
back/*.pid
back/*.seed
back/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
back/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
back/.env.*
back/!.env.example

# Docker
back/.docker
