@import './quasar.variables.scss';

.bg-dark-blue {
  background-color: $blue-10; /* Azul mais escuro */
  display: inline-block;
  padding: 6px;
}
.text-light-blue {
  color: $blue-6; /* Azul mais claro */
  font-weight: 600;
}
.text-white {
  color: $white; /* Branco */
  font-weight: 600;
}
