.welcome-text-and-status-circle {
  display: flex;
  justify-content: space-between;
  max-width: 1480px;
  margin: auto;
}

.table {
  max-width: 1480px;
  margin: auto;
}

.container {
  display: flex; /* Alinha os elementos na horizontal */
  align-items: center; /* Centraliza verticalmente */
  gap: 16px; /* Espaçamento entre os elementos (ajuste conforme necessário) */
}
