.welcome-text-and-status-circle {
  display: flex;
  justify-content: space-between;
  max-width: 1480px;
  margin: auto;
}

.table {
  max-width: 1480px;
  margin: auto;
}

.container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.discipline-column {
  font-weight: bold;
}

.header {
  height: 70px;
}

.header-toolbar {
  height: 100%;
}

.filter-grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 16px;
  align-items: center;
}
