@import 'quasar.variables.scss';

.status-text {
  font-size: 14px;
  color: #2d3748;
}

.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.inactive {
  background-color: $positive;
}

.active {
  background-color: $negative;
}
