.welcome-text-and-status-circle {
  display: flex;
  justify-content: space-between;
  max-width: 1480px;
  margin: auto;

  @media (max-width: 768px) {
    flex-direction: column;

    .circles {
      display: flex;
      justify-content: space-between;
    }
  }
}
